<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Descriptions</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/description.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <script src="index.js"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="toggle-navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Requirements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MWV Academy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/Descriptions.html">Course Descriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Placement</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="box">
            <div class="box-1"></div>
            <div class="box-2"></div>
        </div>
    </header>
    <section>
        <h1 class="text-center">Course Descriptions</h1>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <!-- Career and Technical Education -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <a href="../views/CareerTech.html">
                            <div class="profile-content">
                                <div class="profile-name">
                                    Career and Technical Education
                                </div>
                                <div class="profile-description">Click here to learn more about CareerTech!</div>
                                <div class="row">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- English -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                English
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fine Arts -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                Fine Arts
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Health and Physical Education -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                Health and Physical Education
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Interdisciplanary -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                Interdisciplanary
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mathematics -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                Mathematics
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Science -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                Science
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Social Studies -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                Social Studies
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- World Languages -->
                <div class="col-md-4">
                    <hr>
                    <div class="profile-card text-center"><img src="../images/Eagle.PNG" class="img img-responsive">
                        <div class="profile-content">
                            <div class="profile-name">
                                World Languages
                            </div>
                            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

</body>

</html>