.profile-card {
    max-width: 300px;
    max-height: 400px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
}

.profile-card img {
    transition: all 0.25s linear;
    max-height: 300px;
}

.profile-card .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    text-decoration: none;
}

.profile-card .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #C0B460;
    background-color: #262626;
    font-size: 17px;
    text-decoration: none;
}

.profile-card .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.profile-card .profile-description {
    color: #BBB;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
}

.profile-card .profile-overview {
    padding: 15px 0px;
    text-decoration: none;
}

.profile-card .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #BBB;
    text-decoration: none;
}

.profile-card a {
    text-decoration: none;
}

.profile-card a:hover {
    text-decoration: none;
}

.profile-card a:link {
    text-decoration: none;
}

.profile-card a:visited {
    text-decoration: none;
}

.profile-card a:active {
    text-decoration: none;
}

.profile-card .profile-overview h4 {
    color: #262626;
    font-weight: bold;
    text-decoration: none;
}

.profile-card .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
    text-decoration: none;
}

.profile-card:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}